.calendarContainer {
    width: 33%;
    padding: 20px 24px;
    border: 3px solid rgba(245, 189, 65, 0);
    border-radius: 8px;
    cursor: pointer;
}
.calendarContainer:hover {
    border: 3px solid #dedee1;
}
.calendarContainer:focus {
    border: 3px solid rgba(245, 189, 65, 100);
}
.calendar-input {
    position: absolute;
    left: 10px;
}
.react-datepicker {
    position: relative;
    margin-top: 15px;
    margin-bottom: 20px;
    z-index: 2;
}
.form__item {
    width: 110%;
    position: relative;
    z-index: 1;
    right: 10px;
    font-size: 18px;
    line-height: 21px;
}
.form__item:focus + .calendarContainer {
    border: 3px solid rgba(245, 189, 65, 100);
}

.calendarContainer .label__wrapper label{
    z-index: 3;
    position:absolute;
    font-size: 18px;
    top:21px;
    left:60px;
    color: #383838;
    transition:.5s;
    pointer-events:none;
}

.calendarContainer .label__wrapper label.active {
    transform: translateY(-70px);
    transition:.5s;
    color: #FFFFFF;
    border: none;
}
