header {
    display: flex;
    justify-content: space-between;
    max-width: 1232px;
    margin: 0 auto;
    padding: 30px 32px 0;
    box-sizing: content-box;
}
.headerLogo {
    transition: 0.2s ease;
}
.headerLogo:active {
    fill: #2052af;
}

.headerMenu {
    display: flex;
}
.menuText {
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 28px;
}
.menuText a {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 24px;
    transition: 0.2s ease;
}
.menuText a:hover {
    color:rgba(245, 189, 65, 1);
}
.menuText a:active {
    color: rgb(211, 149, 12);
}
.menuLink {
    position: relative;
}
.menuLink:after {
    display: none;
    position: absolute;
    left: 8%;
    bottom: -32%;
    content: '';
    width: 85%;
    height: 2.5px;
    background-color: #F5BD41;
}
.menuLink:hover:after {
    display: block;
}
.menuIcons {
    display: flex;
    align-items: center;
}
.menuIcons a {
    margin-left: 24px;
}
.menuIcon {
    transition: 0.2s ease;

}
.menuIcon:hover {
    fill:rgba(245, 189, 65, 1);
}
.menuIcon:active {
    fill: rgb(211, 149, 12);
}
