.slick-arrow {
    box-sizing: content-box;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #FFFF !important;
    border-radius: 50% !important;
    padding: 5px !important;
}
.slick-next {
    transform: translate3d(15px, -65px, 0) !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: .2s ease !important;
}
.slick-next:hover {
    background-color: #f3f3f3 !important;
}
.slick-next:active {
    background-color: #dcdcdc !important;
}

.slick-prev:before, .slick-next:before  {
    content: '' !important;
}
.slick-prev {
    z-index: 1000;
    transform: translate3d(-25px, -65px, 0) rotate(180deg) !important;
    filter: drop-shadow(0px -4px 4px rgba(0, 0, 0, 0.25));
    transition: .2s ease !important;
}
.slick-prev:hover {
    background-color: #f3f3f3 !important;
}
.slick-prev:active {
    background-color: #dcdcdc !important;
}
