@import "fonts/fonts.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #383838;
  font-size: 24px;
  line-height: 28px;
}

.wrapper {
  max-width: 1232px;
  margin: 0 auto;
  padding: 120px 32px;
  box-sizing: content-box;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 60px 16px;
  }
}
